ion-toolbar{
    --background: #444;
    --opacity: 0.8;
}

ion-back-button{
    --color: white;
    --icon-font-size: 35px;
}

ion-item{
    --min-height: 70px !important;
}

.text{
    font-size: 24px;
}
