ion-toolbar{
  --background: #444;
  --opacity: 0.8;
}
ion-toolbar ion-icon{
  font-size: 35px;
  color: white;
}

.home-card {
  padding: 0;
  margin: 0;
}

ion-card{
  --background: white;
}

ion-card ion-icon { 
    float: right;
    color: #666666;
    top: 5px;
    margin-right: 10px;
}

.unliked{
  color: #666666;
  opacity: 0.9;
  transition: all 250ms ease;
}

.liked{
  color: #e74c3c !important;
  opacity: 1;
  animation-name: hearted;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}


@keyframes hearted{
	0%{  transform: scale(1.2); }
	15%{	transform: scale(1); }
	25%{  transform: scale(1.1); }
	30%{  transform: scale(1); }
  }
	

