<ion-header>
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card class="home-card">
    <img src = "http://image.tmdb.org/t/p/w780{{movie.backdrop_path}}">
      <ion-card-header>
        <ion-card-title>{{movie.original_title}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          {{movie.overview}}
      </ion-card-content>

      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        Release Date: {{ movie.release_date | date }}
      </ion-item>

      <ion-item>
        <ion-icon name="star" item-left></ion-icon>
        Rating: {{movie.vote_average}}
      </ion-item>
  </ion-card>
   
</ion-content>


<ion-button color="primary" expand="block" fill="clear" (click)="closeModal()">
  Close
</ion-button>
