<ion-header>
  <ion-toolbar>
    <ion-title>{{passedId.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close" defaultHref="/filter"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar placeholder= "Search {{passedId.name}} movies" color="light" autocomplete="on" (ionInput)="searchGenresMovies($event)"></ion-searchbar>
  <div *ngFor = "let movie of movies">
    <ion-card class="home-card" >
        <img src = "http://image.tmdb.org/t/p/w780{{movie.backdrop_path}}">
    </ion-card>
    <h2 class="text">{{movie.title}}</h2>
  </div>
   
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
